/* 1. Use a more-intuitive box-sizing model.  */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
/* Typographic tweaks!  3. Add accessible line-height 4. Improve text rendering */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #606160;
}
/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* 6. Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}
/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* 8. Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

/***************************************
      navigation bar
***************************************/
nav {
  width: 100%;
  background-color: #606160;
  height: 60px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  font-family: Nunito, sans-serif;
  text-transform: uppercase;
}
#nav-logo {
  max-height: 60px;
}
.topnav {
  background-color: #606160;
  overflow: hidden;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}
#make-appointment-link {
  background-color: coral;
}
#make-appointment-link:hover {
  color: rgb(255, 200, 181);
}
.topnav a:hover {
  color: #afafaf;
}
.topnav a.active {
  background-color: #04aa6d;
  color: white;
}
.topnav .icon {
  display: none;
}

/***************************************
    top banner with Jess' picture
***************************************/
#banner {
  background-color: #e5dddc;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}
#banner-text {
  margin-left: 80px;
  color: #565454;
}
#banner-text #sig {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 10vw;
}
#banner-text #tagline {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3vw;
}
#banner-image img {
  width: 30vw;
  min-width: 300px;
}

#call {
  background-color: #f8f6f5;
  text-align: center;
  height: 24vh;
  padding: 20px;
}
#action {
  background-color: coral;
  display: inline-block;
  width: 320px;
  margin-top: 20px;
  padding: 20px;
  color: #f2f2f2;
  font-weight: 900;
  font-size: 1.2rem;
  text-transform: uppercase;
}
#action:hover {
  color: rgb(255, 200, 181);
}

/**********************************
    services section
**********************************/
#services-intro {
  width: 70%;
  margin: 40px auto;
  font-size: 1.5rem;
}
#service-boxes {
  display: flex;
  flex-flow: column;
  gap: 10px;
  margin: 20px;
}
.service-box {
  width: 100%;
  margin: 40px 0px;
}
.service-box img {
  width: 100%;
}
.service-header {
  margin-top: 20px;
  padding: 4px;
  font-size: 1.2rem;
  text-align: center;
}
.service-box p {
  margin: 10px 0px;
  padding: 8px;
}
.service-link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: coral;
  width: 100%;
  padding: 20px;
  color: #f2f2f2;
  font-weight: bolder;
}

/************************************
 footer styles 
************************************/
footer {
  background-color: #606160;
  color: #f2f2f2;
  height: 20vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
#footer-section {
  text-align: center;
}
#footer-section a {
  color: coral;
  text-decoration: none;
}
#footer-section a:hover {
  color: rgb(255, 200, 181);
}

/***************************************
    big screen specific styles
***************************************/
@media screen and (max-width: 820px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
@media screen and (min-width: 820px) {
  /*** services section ***/
  #services-intro {
    width: 70%;
    margin: 40px auto;
    font-size: 1.5rem;
  }

  #service-boxes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 30px;
    margin: 20px;
  }
  .service-box {
    box-sizing: border-box;
    width: 30%;
  }
  .service-box img {
    width: 100%;
  }
}
