/* Color Palette */
:root {
  --bg-color: #ffffff;
  --dark:  #00202e;  
  --deep-blue: #003f5c;
  --dark-purple: #2c4875;
  --purple: #8a508f;
  --pink: #bc5090;
  --red: #ff6361;
  --orange: #ff8531;
  --yellow: #ffa600;
  --pale: #ffd380;
  --text: #606160;
  --light: #f2f2f2;
}

/* 1. Use a more-intuitive box-sizing model.  */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
/* Typographic tweaks!  3. Add accessible line-height 4. Improve text rendering */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: var(--text);
}
/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* 6. Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}
/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* 8. Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

/* 9. Remove link styles */
a {
  color: var(--text);
  text-decoration: none;
}

.link {
  color: var(--purple);
}
.link:hover {
  color: var(--dark-color);
}

/***************************************
      navigation bar
***************************************/
nav {
  width: 100%;
  background-color: var(--light);
  height: 60px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  font-family: Nunito, sans-serif;
  text-transform: uppercase;
}
.topnav {
  background-color: var(--light);
  overflow: hidden;
  position: relative;
}

/* Links */
.topnav a {
  float: left;
  display: block;
  color: var(--deep-blue);
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
  transition: background-color 0.3s;
}

.topnav a:hover {
  color: var(--purple); /* slightly darker for better contrast */
}

.topnav a.active {
  background-color: var(--pink);
}

/* Screen-reader-only helper */
.sr-only {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Hide checkbox */
#menu-toggle {
  display: none;
}

/* Hamburger icon */
.icon {
  display: none;
  font-size: 22px;
  color: var(--purple);
  padding: 14px 20px;
  cursor: pointer;
}

/* Responsive behavior */
@media screen and (max-width: 600px) {
  .topnav a {
    display: none;
    float: none;
    text-align: left;
  }

  .icon {
    display: block;
    float: right;
  }

  #menu-toggle:checked ~ a {
    display: block;
  }
}


#make-appointment-link {
  color: var(--deep-blue);
  background-color: var(--pale); 
}
#make-appointment-link:hover {
  color: var(--purple);
}

/***************************************
    top banner with Jess' picture
***************************************/
#banner {
  background-color: #e5dddc;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}
#banner-text {
  margin-left: 30px;
  color: var(--text);
  text-align: center;
}
#sig {
  display: block;
  font-family: "Lavishly Yours", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 8vw;
}
#banner-text #tagline {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3vw;
}
#banner-image img {
  width: 10vw;
  min-width: 200px;
}

#call {
  background-color: var(--light);
  background-image: url("/public/images/topography.png");
  text-align: center;
  padding: 20px;
}

#action {
  background-color: var(--purple);
  display: inline-block;
  width: 320px;
  margin-top: 20px;
  padding: 20px;
  color: var(--light);
  font-weight: 900;
  font-size: 1.2rem;
  text-transform: uppercase;
}
#action:hover {
  color: var(--light);
  background-color: var(--purple);
  cursor:pointer;
}

hr {
  border: none;
  border-top: 3px double var(--orange);
  color: var(--orange);
  overflow: visible;
  text-align: center;
  height: 5px;
  width: 30vw;
  margin: auto;
}

hr::after {
  background: #fff;
  content: "§";
  padding: 0 4px;
  position: relative;
  top: -13px;
}

/**********************************
    services section
**********************************/
#services {
  margin-top: 10px;
}
#services-intro {
  width: 70%;
  margin: 40px auto;
  font-size: 1rem;
}
#service-boxes {
  display: flex;
  flex-flow: column;
  gap: 10px;
  margin: 20px;
}
.service-box {
  width: 100%;
  margin: 40px 0px;
}
.service-box img {
  width: 100%;
}
.service-header {
  margin-top: 20px;
  padding: 4px;
  font-size: 1.2rem;
  text-align: center;
}
.service-box p {
  margin: 10px 0px;
  padding: 8px;
}
.service-link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--purple);
  width: 100%;
  padding: 20px;
  color: var(--light);
  font-weight: bolder;
}
.service-link:hover {
  background-color: var(--pink);
  color: var(--light);
}

/************************************
 about styles 
************************************/
#about, #contact, #posts, #blog-post {
  width: 90%;
  margin: auto;
  padding-top: 40px;
  margin-bottom: 40px
}
#about p, #blog-post p {
  margin-bottom: 14px;
}
#about .service-link {
  max-width: 250px;
  margin: auto;
  margin-top: 40px;
}


/************************************
 posts page styles 
************************************/
#md-wrap {
  width: 80vw;
  margin: auto;
}
#md-wrap h1 {
  margin: 14px 0px;
}
#md-wrap p {
  line-height: 1.4rem;
  margin-bottom: 10px;
}
#posts, #contact {
  min-height: 40vh;
}
#blog-post {
  max-width: 90vw;
}

#posts {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}
.thought-list-item {
  border: 1px solid #EFEFEC;
  background: #FAF8F7;
  width: 90vw;
}
.thought-list-image {
  object-fit: cover;
}
.thought-list-text {
  padding: 20px;
}
.thought-list-text h3 {
  margin: 8px 0px 12px 0px;
  color: var(--text);
  font-weight: 500;
}
.read-more {
  margin-top: 20px;
  color: var(--purple);
  font-weight: 800;
}
.read-more a {
  color: var(--purple);
}
.read-more span {
  vertical-align: middle;
  margin: 8px;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


/************
Thoughts pages
*****************/
#you-got-this {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--pink);
  margin-top: 30px;
}
#jess-sig {
  display: block;
  font-family: "Lavishly Yours", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3.4rem;
  margin-top: 24px;
  margin-bottom: 24px;
}

/************************************
 footer styles 
************************************/
footer {
  background-color: var(--dark-purple);
  color: var(--light);
  height: 20vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
#footer-section {
  text-align: center;
}
#footer-section a {
  color: var(--light);
  text-decoration: none;
}
#footer-section a:hover {
  color: var(--pink);
}

/***************************************
    big screen specific styles
***************************************/
@media screen and (min-width: 820px) {
  #header {
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
  }

  #banner {
    margin-top: 40px;
  }
  #banner-text #sig {
    font-family: "Lavishly Yours", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 6vw;
  }
  #banner-text #tagline {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2vw;
    margin-top: -20px;
  }
  #banner-image img {
    width: 30vw;
    min-width: 300px;
  }

  #call {
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /*** services section ***/
  #services {
    margin-top: 40px;
  }
  #services-intro {
    width: 750px;
    margin: 40px auto;
    font-size: 1.5rem;
    margin-bottom: 80px;
  }
  #service-boxes, #posts-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 30px;
    margin: 20px;
    padding-top: 40px;
  }
  .service-box {
    box-sizing: border-box;
    width: 30%;
  }
  .service-box img {
    width: 100%;
  }

  .divider-bar {
    width: 25vw;
    margin: 80px auto;
  }

  #about, #contact {
    max-width: 750px;
  }
  #about h2 {
    margin-top: 40px;
  }

  /* List of thoughts on home page */
  #posts h2 {
    margin-top: 20px;
    text-align: center;
  }
  #posts-list {
    gap: 10px;
    justify-content: center;
    align-content: flex-start;
    max-width: 1100px;
    margin: auto;
  }
  .thought-list-item {
    border: 1px solid #EFEFEC;
    background: #FAF8F7;
    width: 30%;
  }
  .thought-list-image {
    object-fit: cover;
  }
  .thought-list-text {
    padding: 20px;
  }
  .thought-list-text h3 {
    font-size: 1.5rem;
    margin: 8px 0px 12px 0px;
  }
  .thought-list-text h3 a {
    text-decoration: none;
    color: var(--text);
    font-weight: 500;
  }
  .read-more {
    margin-top: 20px;
    color: var(--purple);
    font-weight: 800;
  }
  .read-more a {
    color: var(--purple);
  }

/* Blog Post page */
  #post-header-image {
    object-fit: contain;
    width: 50vw;
    margin: auto;
  }
  #blog-post {
    margin-top: 120px;
    width: 50vw;
  }

  /* markdown wrapper */
  #md-wrap {
    margin: 80px auto;
    max-width: 800px;
  }

}
