    <header>
      <nav>
        <a href="#"><img id="nav-logo" src="/public/images/eye-of-storm-logo.png" /></a>
        <div class="topnav" id="menu-items">
          <a href="/">Home</a>
          <a href="#about">About</a>
          <a href="#service-boxes">Services</a>
          <a href="#posts">Blog</a>
          <a href="#contact">Contact</a>
          <a id="make-appointment-link" href="#">Make Appointment</a>
          <a href="javascript:void(0);" class="icon" onclick="nav()">
            <i class="fa fa-bars"></i
          ></a>
        </div>
      </nav>
    </header>